DATABASE_URL="postgresql://neondb_owner:<password>@ep-fancy-queen-a2gams03-pooler.eu-central-1.aws.neon.tech/neondb?sslmode=require"
VEDA_API_KEY="your-secret-api-key"
GEOAPIFY_API_KEY="your-geoapify-api-key"
MAPBOX_TOKEN="your-mapbox-token"
EMERGENCY_NUMBER="112"
FRONTEND_URL="https://your-vercel-app.vercel.app"
BACKEND_URL="https://your-render-service.onrender.com"
FITBIT_CLIENT_ID=""
FITBIT_CLIENT_SECRET=""
PORT=10000
